
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.container .row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

}


.card.glassy-glowy {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(251, 172, 153);
  overflow: hidden;
  min-width: 30vw;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.card-body {
  padding: 20px;
}

.card-title, .card-text {
  color: #000;
}

.btn-primary {
  background-color: rgb(251, 172, 153);
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: rgba(251, 172, 153, 0.8);
}
.gold {
  color: gold;
  font-size: 2em;
}
.empty-star {
  color: black;
  -webkit-text-stroke: 1px gold;
  font-size: 2em;
  display: inline-block;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

