<div class="sidebar">
  <a class="sidebar-brand btn2" routerLink="/">Voyages</a>
  <div class="sidebar-items">
    <a class="sidebar-item" routerLink="/">Voyage Liste</a>
    <a class="sidebar-item" routerLink="/nous-contacter">Nous Contacter</a>
    <a class="sidebar-item" *ngIf="isLoggedIn()" routerLink="/admin/liste">AdminPanel</a>
    <a class="sidebar-item" *ngIf="isLoggedIn()" routerLink="/admin/add-voyage">Ajouter</a>
  </div>
  <div class="sidebar-items sidebar-items-right">
    <a class="sidebar-item" *ngIf="isLoggedIn()" href="#" (click)="logout()">Log Out</a>
    <a class="sidebar-item" *ngIf="!isLoggedIn()" routerLink="/login">Log In</a>
  </div>
</div>

<router-outlet />
