body {
  background-color: rgb(244, 227, 180);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}
*{
  color: #000;
}


form {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 40px;
  border: 2px solid rgb(251, 172, 153);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
  display: block;
  color: #000;
}

input[type="text"], input[type="email"], input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(251, 172, 153);
  color: #000;
}

button {
  background-color: rgb(251, 172, 153);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(251, 172, 153, 0.8);
}
form{
  max-width:33vw;
  margin: auto;
  margin-top: 33vh;
}
body > app-root > app-login{
  display: flex;
  justify-content: center;
  align-items: center;

}
/*
--------------------------FEEDBACK&LOADER---------------------------------
*/
.feedback {
  display: block;
  margin-top: 0.25rem;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
