<div *ngIf="isLoading" class="spinner-border text-light" role="status">
  <span class="sr-only">Chargement...</span>
</div>

<div *ngIf="!isLoading" class="login-form glassy-glowy">
  <form (submit)="loggedUser()" #loginForm="ngForm">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="username" class="text-light">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur" required [(ngModel)]="user.username" #usernameInput="ngModel">
        <div class="feedback" *ngIf="usernameInput.dirty">
          <div *ngIf="usernameInput.valid" class="text-success">Ok</div>
          <div *ngIf="!usernameInput.valid" class="text-danger">Veuillez saisir un nom d'utilisateur</div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="password" class="text-light">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required [(ngModel)]="user.password" #passwordInput="ngModel">
        <div class="feedback" *ngIf="passwordInput.dirty">
          <div *ngIf="passwordInput.valid" class="text-success">Ok</div>
          <div *ngIf="!passwordInput.valid" class="text-danger">Veuillez saisir un mot de passe</div>
        </div>
      </div>
    </div>
    <div *ngIf="strError" class="text-danger">
      {{ strError }}
    </div>
    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success">Me connecter !</button>
  </form>
</div>

<a routerLink="/" class="text-light">ClientSide</a>
