<h1 class="text-center my-4">Bienvenue sur l'accès d'administration des Voyages</h1>

<div class="d-flex justify-content-between mb-4">
  <button (click)="logout()" class="btn btn-danger">Me déconnecter</button>
  <a [routerLink]="['/admin/add-voyage']" class="btn btn-success">Ajouter un nouveau voyage</a>
</div>

<div class="admin-panel glassy-glowy p-3">
  <table class="table table-dark table-hover" *ngIf="!isLoading">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Destination</th>
      <th scope="col">Type</th>
      <th scope="col">Étoiles</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let voyage of voyages">
      <th scope="row">{{ voyage?.id }}</th>
      <td>{{ voyage?.destination }}</td>
      <td>{{ voyage?.type }}</td>
      <td>{{ voyage?.nbStar }}</td>
      <td>
        <button (click)="deleteEvent(voyage.id!)" class="btn btn-danger">Supprimer</button>
        <a [routerLink]="['/admin/edit', voyage?.id]" class="btn btn-info">Mettre à jour</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a routerLink="/" class="btn btn-primary">Client Side</a>
</div>
