<div class="app-admin">
<h1 class="text-center my-4">Voyages Admin Panel</h1>

<div class="d-flex justify-content-between mb-4">
  <button (click)="logout()" class="btn2  ">Log Out</button>
  <a [routerLink]="['/admin/add-voyage']" class="btn2">Add</a>
</div>

<div class="admin-panel glassy-glowy p-3">
  <table class="table table-hover table-custom" *ngIf="!isLoading">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Destination</th>
      <th scope="col">Type</th>
      <th scope="col">Étoiles</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let voyage of voyages">
      <th scope="row">{{ voyage?.id }}</th>
      <td><strong>{{ voyage?.destination }}</strong>
        <br>
        <img *ngIf="voyage.pictures && voyage.pictures.length > 0" [src]="getSafeUrl(voyage.pictures[0].src)" style="width: 100px; height: auto; border-radius: 5px; margin-top: 10px;" alt="Aperçu du voyage">

      </td>
      <td>{{ voyage?.type }}</td>
      <td>{{ voyage?.nbStar }}</td>
      <td>
        <button (click)="deleteEvent(voyage.id!)" class="btn2">Supprimer</button>
        <a [routerLink]="['/admin/edit', voyage?.id]" class="btn2">Update</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a routerLink="/" class="btn-custom">Client Side</a>
</div>
</div>
