<h1 class="text-center text-light my-4">Ajouter un nouveau voyage</h1>

<div class="d-flex justify-content-start mb-4">
  <a routerLink="/admin/liste" class="btn btn-success">Retour</a>
</div>

<div *ngIf="isLoading" class="loader" role="status"></div>

<div *ngIf="!isLoading" class="glassy-glowy p-4">
  <form (submit)="addVoyage()" #voyageForm="ngForm">
    <!-- Destination -->
    <div class="form-group mb-3">
      <label for="destination" class="text-light">Destination</label>
      <input type="text" class="form-control" id="destination" name="destination" [(ngModel)]="voyage.destination" required #destinationInput="ngModel">
      <div *ngIf="destinationInput.invalid && (destinationInput.dirty || destinationInput.touched)" class="invalid-feedback">
        Veuillez saisir une destination.
      </div>
    </div>

    <!-- Type de voyage -->
    <div class="form-group mb-3">
      <label for="type" class="text-light">Type</label>
      <input type="text" class="form-control" id="type" name="type" [(ngModel)]="voyage.type" required #typeInput="ngModel">
      <div *ngIf="typeInput.invalid && (typeInput.dirty || typeInput.touched)" class="invalid-feedback">
        Veuillez préciser le type de voyage.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="lattitude" class="text-light">Lattitude</label>
      <input type="number" class="form-control" id="lattitude" name="lattitude" [(ngModel)]="voyage.lattitude" required #lattitudeInput="ngModel" step="any">
      <div *ngIf="lattitudeInput.invalid && (lattitudeInput.dirty || lattitudeInput.touched)" class="invalid-feedback">
        Veuillez saisir la lattitude.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="longitude" class="text-light">Longitude</label>
      <input type="number" class="form-control" id="longitude" name="longitude" [(ngModel)]="voyage.longitude" required #longitudeInput="ngModel" step="any">
      <div *ngIf="longitudeInput.invalid && (longitudeInput.dirty || longitudeInput.touched)" class="invalid-feedback">
        Veuillez saisir la longitude.
      </div>
    </div>

    <!-- Étoiles -->
    <div class="form-group mb-3">
      <label for="nbStar" class="text-light">Étoiles</label>
      <input type="number" class="form-control" id="nbStar" name="nbStar" [(ngModel)]="voyage.nbStar" #nbStarInput="ngModel">
    </div>

    <!-- Image du voyage -->
<!--    <div class="form-group mb-3">
      <label for="image" class="text-light">Image</label>
      <input type="text" class="form-control" id="image" name="image" [(ngModel)]="voyage.image" #imageInput="ngModel">
    </div>-->

    <button [disabled]="!voyageForm.form.valid" type="submit" class="btn btn-primary">Ajouter le voyage</button>
  </form>
</div>
