<div class="app-add">
<h1 class="text-center text-dark my-4">Ajouter un nouveau voyage</h1>

<div class="d-flex justify-content-start mb-4">
  <a routerLink="/admin/liste" class="btn btn-success">Retour</a>
</div>

<div *ngIf="isLoading" class="loader" role="status"></div>

<div *ngIf="!isLoading" class="glassy-glowy p-4">
  <form (submit)="addVoyage()" #voyageForm="ngForm">
    <!-- Destination -->
    <div class="form-group mb-3">
      <label for="destination" class="text-dark">Destination</label>
      <input type="text" class="form-control" id="destination" name="destination" [(ngModel)]="voyage.destination" required #destinationInput="ngModel">
      <div *ngIf="destinationInput.invalid && (destinationInput.dirty || destinationInput.touched)" class="invalid-feedback">
        Veuillez saisir une destination.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="type" class="text-dark">Type</label>
      <select class="form-control" id="type" name="type" [(ngModel)]="voyage.type" required #typeInput="ngModel">
        <option value="" disabled selected>Choisissez un type</option>
        <option value="Terre">Terre</option>
        <option value="Mer">Mer</option>
        <option value="Montagne">Montagne</option>
      </select>
      <div *ngIf="typeInput.invalid && (typeInput.dirty || typeInput.touched)" class="invalid-feedback">
        Veuillez préciser le type de voyage.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="lattitude" class="text-dark">Lattitude</label>
      <input type="number" class="form-control" id="lattitude" name="lattitude" [(ngModel)]="voyage.lattitude" required #lattitudeInput="ngModel" step="any">
      <div *ngIf="lattitudeInput.invalid && (lattitudeInput.dirty || lattitudeInput.touched)" class="invalid-feedback">
        Veuillez saisir la lattitude.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="longitude" class="text-dark">Longitude</label>
      <input type="number" class="form-control" id="longitude" name="longitude" [(ngModel)]="voyage.longitude" required #longitudeInput="ngModel" step="any">
      <div *ngIf="longitudeInput.invalid && (longitudeInput.dirty || longitudeInput.touched)" class="invalid-feedback">
        Veuillez saisir la longitude.
      </div>
    </div>

    <!-- Étoiles -->
    <div class="form-group mb-3">
      <label for="nbStar" class="text-dark">Étoiles</label>
      <input type="number" class="form-control" id="nbStar" name="nbStar" [(ngModel)]="voyage.nbStar" #nbStarInput="ngModel">
    </div>
    <!-- Image principale -->
    <div class="form-group mb-3">
      <label for="mainPictureSrc" class="text-dark">URL de l'image principale</label>
      <input type="text" class="form-control" id="mainPictureSrc" [(ngModel)]="voyage.mainPicture.src" name="mainPictureSrc" required>

      <label for="mainPictureAlt" class="text-dark">Texte alternatif de l'image principale</label>
      <input type="text" class="form-control" id="mainPictureAlt" [(ngModel)]="voyage.mainPicture.alt" name="mainPictureAlt" required>
    </div>

 <!--   <div class="form-group mb-3">
      <label for="pictureSrc" class="text-dark">URL d'une image supplémentaire</label>
      <input type="text" class="form-control" id="pictureSrc" [(ngModel)]="voyage.pictures[0].src" name="pictureSrc">

      <label for="pictureAlt" class="text-dark">Texte alternatif de l'image supplémentaire</label>
      <input type="text" class="form-control" id="pictureAlt" [(ngModel)]="voyage.pictures[0].alt" name="pictureAlt">
    </div>-->
    <button type="button" class="btn btn-secondary" (click)="addPictureField()">+</button>

    <!-- Champs dynamiques pour chaque image supplémentaire -->
    <div *ngFor="let picture of voyage.pictures; let i = index" class="form-group mb-3">
      <label for="pictureSrc{{i}}" class="text-dark">URL de l'image supplémentaire {{i + 1}}</label>
      <input type="text" class="form-control" id="pictureSrc{{i}}" [(ngModel)]="picture.src" name="pictureSrc{{i}}">

      <label for="pictureAlt{{i}}" class="text-dark">Texte alternatif de l'image supplémentaire {{i + 1}}</label>
      <input type="text" class="form-control" id="pictureAlt{{i}}" [(ngModel)]="picture.alt" name="pictureAlt{{i}}">
    </div>
    <!-- Image du voyage -->
<!--    <div class="form-group mb-3">
      <label for="image" class="text-dark">Image</label>
      <input type="text" class="form-control" id="image" name="image" [(ngModel)]="voyage.image" #imageInput="ngModel">
    </div>-->

    <button [disabled]="!voyageForm.form.valid" type="submit" class="btn btn-primary">Ajouter le voyage</button>
  </form>
</div>
</div>
