.app-add{
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body > app-root > app-add > div > h1{
font-size: 2em  ;
  font-weight: bolder;
}


.glassy-glowy {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 40px;
  border: 2px solid rgb(251, 172, 153);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control {
  border-radius: 10px;
  border: 1px solid rgb(251, 172, 153);
  color: #000;
}


label.text-light {
  color: #000;
}


.btn-primary, .btn-secondary, .btn-success {
  background-color: rgb(251, 172, 153);
  color: #100f0f;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover, .btn-secondary:hover, .btn-success:hover {
  background-color: rgba(251, 172, 153, 0.8);
}


.h1.text-center.text-light {
  color: #000;
}


.invalid-feedback {
  display: block;
  color: #ff3860;
}

.valid-feedback {
  display: block;
  color: #23d160;
}


.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

.btn-success {
  margin-right: 15px;
}


.loader {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
